*{
  margin:0;
  padding: 0;
}
html,body {
  font-size: 18px;
  background-color: rgb(252, 246, 246);
}
main .contenedor-principal h1{
  max-width: 940px;
  font-size: 2.5em;
  font-family:Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}
.App{
  min-height: 100vh;
  display:flex;
  flex-wrap: wrap; /*indica que si un elemento toma todo el ancho del contenedor, los siguientes elementos se ubicaran en la siguiente linea. */
  align-items: center;/*horizontal*/
  justify-content: center; /*vertical*/
  text-align: center;
}
main .contenedor-principal{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap; /*indica que si un elemento toma todo el ancho del contenedor, los siguientes elementos se ubicaran en la siguiente linea. */
  align-items: center;/*horizontal*/
  justify-content: center; /*vertical*/
  /* text-align: center; */
}